<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
<link rel="stylesheet" href="../styles/Global.css">
<link rel="stylesheet" href="../styles/Login.css">
</head>
<body>

<div class="Main-Container">


    <div class="left-img-conatiner">
         <img src="https://placehold.co/600x600" alt="" srcset="">
    </div>



    <div class="right-container">
        
        <form method="post">
            <h2>Welcome from JD POS</h2>
    <input type="text"  placeholder="username" autocorrect="on"/>
<input type="password" placeholder="password" autocorrect="on"/>


<button class="login-button">LOGIN</button>
        </form>
    </div>



</div>



    
</body>
</html>